@media only screen and (min-width:319px) and (max-width:400px){
    .create-head{
        font-size: 18px;
        font-weight: bold;
    }
    .create-label{
        font-size: 14px;
    }
}

@media only screen and (min-width:401px) and (max-width:500px){
    .create-head{
        font-size: 18px;
        font-weight: bold;
    }
    .create-label{
        font-size: 15px;
    }
    .create-form .user-btn{
        padding: 10px;
    }
}

@media only screen and (min-width:701px) and (max-width:940px){
    .create-head{
        font-size: 19px;
        font-weight: bold;
    }
    .create-label{
        font-size: 15px;
    }
    .create-form .user-btn{
        padding: 10px;
    }
}