.adminregister-form{
    width: 100%;
}

.adminregister-container{
    width: 100%;
}

.adminregister-btn{
    background-color: #333;
}

.adminregister-btn:hover{
    background-color: #5d5c5c;
}

.user-checkbox{
    display: flex;
    justify-content: space-around; 
}

.permissions{
    display: flex;
    justify-content: space-around;
}

.permissions-role{
    display: flex;
    gap: 30px;
}

@media only screen and (min-width:319px) and (max-width:400px){

    .adminregister-form{
        width: 100%;
    }

    .register-head{
        font-size: 18px;
        font-weight: bold;
    }

    .register-label{
        font-size: 14px;
    }
    .adminregister-btn{
        width: 50%;
    }
}

@media only screen and (min-width:401px) and (max-width:500px){
    .register-head{
        font-size: 19px;
        font-weight: bold;
    }
    .register-label{
        font-size: 15px;
    }
    .adminregister-btn{
        padding: 10px;
    }
}

@media only screen and (min-width:701px) and (max-width:800px){
    .register-head{
        font-size: 20px;
        font-weight: bold;
    }
    .register-label{
        font-size: 15px;
    }
    .adminregister-btn{
        padding: 10px;
    }
}