.adminregister-form{
    width: 100%;
}

.adminregister-container{
    width: 100%;
}

.adminregister-btn{
    background-color: #333;
    display: block;
    margin: auto;
    color: white;
}

.adminregister-btn:hover{
    background-color: #5d5c5c;
    color: white;
}

.user-checkbox{
    display: flex;
    justify-content: space-around; 
}

.permissions{
    display: flex;
    justify-content: space-around;
}

.permissions-role{
    display: flex;
    gap: 10px;
}

.permission-table{
    border: 1px solid #5d5c5c;
    border-collapse: separate;
    overflow: hidden;
    border-spacing: 0;
    margin: auto;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.permission-table th {
    padding: 10px;
    border-bottom: 1px solid #ede9e9;
    background-color: #5d5c5c;
    color: white;
}

.permission-table td {
    font-size: 17px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    padding: 10px;
}

.register-label{
    font-weight: 500;
}

@media only screen and (min-width:319px) and (max-width:500px){
    .permissions-role-table{
        border: 1px solid #5d5c5c;
        width: 100%;
        margin: auto;
        overflow-y: auto;
        border-radius: 5px;
    }
    .permission-table{
        border-collapse: collapse;
        margin: auto;
        width: 100%;
        cursor: pointer;
    }
}