.admin-btn{
    background-color: #333;
    color: white;
    width: 150px;
    border-radius: 7px;
}

.admin-table{
    width: 70%;
}

.admin-btn:hover{
    background-color: #333;
}

.admin-header{
    display: flex;
    justify-content:end;
}

.fileupload{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.upload-button1
{
    background:none;
    color: green;
    border: none;
    font-size: 40px;
    font-weight: bold;
}

.upload-button2
{
    background:none;
    color:rgb(48, 190, 246);
    border: none;
    font-size: 40px;
    font-weight: bold;
    margin-right: 15%;
}

.delete-button
{
    color: rgb(145, 17, 17);
    font-size: 25px;
}

.file-input {
    display: none;
}

.file-label {
    /* background-color: #474646; */
    color: black;
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    height: 30px;
}

.file-name {
    font-size: 16px;
    color: #555;
    margin-left: 10px;
    display: inline-block;
}

.label-name{
    border: none;
    background-color:white ;
    border-radius: 5px;
    padding: 10px;
}