.deletedialog-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.deletedialog-content{
    width: 25%;
    height: 20%;
    background: white;
    border-radius: 15px;
    position: relative;
    padding: 20px;
}

.btn-deletedialog{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 1.5rem;
    background: none;
    cursor: pointer;
}

.delete-confirmbox p{
    font-size: 20px;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    padding: 5px;
}

.delete-box .delete-confirm-btn{
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    background-color:  #0b531c;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.delete-box .delete-confirm-btn:hover{
    background-color:#218838 ;
}

.delete-box .delete-cancel-btn{
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    background-color:  #5b060f;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.delete-box .delete-cancel-btn:hover{
    background-color: #c82333;
}

.delete-box{
    display: flex;
    justify-content: center;
    gap: 30px;
}