.home-container{
    background-image: url('../public/homebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.homepage-header{
    padding: 20px;
    background-color:rgba(138, 43, 226, 0.5);
    color: white;
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
    font-variant:small-caps;
}

.name{
    color: rgb(2, 2, 24);
}

@keyframes scrollText {
    from{transform: translateY(100%);}
    to{transform: translateY(-100%);}
}