.home-container{
    background-image: url('../public/homebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif
}

.homepage-header{
    padding: 20px;
    background-color:rgba(138, 43, 226, 0.5);
    color: white;
    font-size: 23px;
    font-weight: bold;
    font-variant:small-caps;
    display: flex;
    justify-content: space-between;
}

.marquee{
    animation: scrollText 7s linear infinite;
    white-space: nowrap;
    display: inline-block;
}

.name{
    color:rgb(102, 237, 102);
    font-weight: bold;
}

.head-name{
    color: rgb(31, 19, 43);
    margin-right: 50px;
    font-family:'Times New Roman', Times, serif;
    font-variant: normal;
}

@keyframes scrollText {
    from{transform: translatex(100%);}
    to{transform: translatex(-100%);}
}

.homepage-section{
   width: 60%;
   height: 70%;
   align-content: center;
   justify-items: center;
}

.section-header{
    font-weight: bold;
    color: white;
}

.section-text{
    font-size: 25px;
    font-weight: 400;
    color:rgb(230, 108, 173)
}

.section-btn{
    background-color: rgb(38, 3, 72);
    padding: 10px;
    width: 150px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.section-btn:hover{
    background-color: rgba(38, 3, 72, 0.6);
    border: 2px inset white;
}