.home-container{
    background-image: url('../public/homebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Poppins', sans-serif
}

.homepage-header{
    padding: 20px;
    background-color:rgba(138, 43, 226, 0.5);
    color: white;
    font-size: 23px;
    font-weight: bold;
    font-variant:small-caps;
}

.marquee{
    animation: scrollText 7s linear infinite;
    white-space: nowrap;
    display: inline-block;
}

.name{
    color: rgb(2, 2, 24);
    font-weight: bold;
}

@keyframes scrollText {
    from{transform: translatex(100%);}
    to{transform: translatex(-100%);}
}

.homepage-section{
   width: 60%;
   height: 70%;
   align-content: center;
   justify-items: center;
}

.section-header{
    font-weight: bold;
    color: rgb(5, 5, 52);
}

.section-text{
    font-size: 20px;
    font-weight: 600;
}

.section-btn{
    background-color: rgb(38, 3, 72);
    padding: 10px;
    width: 150px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.section-btn:hover{
    background-color: rgba(38, 3, 72, 0.3);
    border: 2px inset white;
}