.admin-slidebar{
    /* background:linear-gradient(90deg,rgba(9,9,121,1) 20%,rgba(0,212,255,1)100%); */
    background-color: rgb(3, 3, 69);
    color: white;
    height:100%;
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
}

.userdata-container{
    margin-left: 20%;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center
}

.userdata-btn{
  padding: 10px;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
}

.userdata-container::-webkit-scrollbar {
    display: none;
  }