.admin-slidebar{
    background:rgb(8, 8, 73);
    color: white;
    height:100%;
    width: 20%;
    position: fixed;
    left: 0;
    top: 9%;
    /* padding: 7px; */
}

.userdata-container{
    margin-left: 20%;
 
    height: 100vh;
}

.userdata-btn{
  color: white;
  cursor: pointer;
  background: none;
  border: none;
}

.userdata-container{
    overflow-y: scroll;
}

.userdata-head{
    font-family: 'Poppins',sans-serif;
}