.userdialog-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.userdialog-content{
    width: 20%;
    height: 22%;
    background: white;
    border-radius: 15px;
    position: relative;
    padding: 20px;
}

.user-confirmbox p{
    font-size: 20px;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
}

.user-box .user-confirm-btn{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color:  #0b531c;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.user-box .user-confirm-btn:hover{
    background-color:#218838 ;
}

.user-box .user-cancel-btn{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color:  #5b060f;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.user-box .user-cancel-btn:hover{
    background-color: #c82333;
}

.user-box{
    display: flex;
    justify-content: center;
    gap: 30px;
}

@media only screen and (min-width:319px) and (max-width:400px){
    .userdialog-content{
        width: 70%;
        height: 22%;
    }
    .user-confirmbox p{
        font-size: 16px;
    }
    .user-box .user-confirm-btn{
        font-size: 14px;
    }
    
    .user-box .user-cancel-btn{
        font-size: 14px;
    } 
}

@media only screen and (min-width:401px) and (max-width:489px){
    .userdialog-content{
        width: 60%;
        height: 22%;
    }
    .user-confirmbox p{
        font-size: 16px;
    }
    .user-box .user-confirm-btn{
        font-size: 14px;
    }
    
    .user-box .user-cancel-btn{
        font-size: 14px;
    }
}

@media only screen and (min-width:489px) and (max-width:680px){
    .userdialog-content{
        width: 50%;
        height: 25%;
    }
    .user-confirmbox p{
        font-size: 19px;
    }
    .user-box .user-confirm-btn{
        font-size: 16px;
    }
    
    .user-box .user-cancel-btn{
        font-size: 16px;
    }
}

@media only screen and (min-width:681px) and (max-width:850px){
    .userdialog-content{
        width: 40%;
        height: 25%;
    }
    .user-confirmbox p{
        font-size: 19px;
    }
    .user-box .user-confirm-btn{
        font-size: 16px;
    }
    
    .user-box .user-cancel-btn{
        font-size: 16px;
    }
}

@media only screen and (min-width:850px) and (max-width:975px){
    .userdialog-content{
        width: 35%;
        height: 25%;
    }
    .user-confirmbox p{
        font-size: 19px;
    }
    .user-box .user-confirm-btn{
        font-size: 16px;
    }
    
    .user-box .user-cancel-btn{
        font-size: 16px;
    }
}

@media only screen and (min-width:975px) and (max-width:1139px){
    .userdialog-content{
        width: 30%;
        height: 25%;
    }
    .user-confirmbox p{
        font-size: 19px;
    }
    .user-box .user-confirm-btn{
        font-size: 16px;
    }
    
    .user-box .user-cancel-btn{
        font-size: 16px;
    }
}

@media only screen and (min-width:1139px) and (max-width:1488px){
    .userdialog-content{
        width: 20%;
        height: 25%;
    }
    .user-confirmbox p{
        font-size: 19px;
    }
    .user-box .user-confirm-btn{
        font-size: 16px;
    }
    
    .user-box .user-cancel-btn{
        font-size: 16px;
    }
}
