.users-container{
    margin-top: 100px;
}

.users-btn {
    background-color: #023265;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 15px;
}

.users-btn:hover {
    background: rgb(1, 1, 99);
}

.tablerow-user{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

.users-table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    cursor: pointer;
    box-shadow: 1px 7px 15px gainsboro;
}

.users-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.users-table th {
    padding: 12px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #023265;
    color: white;
    border-bottom: 1px solid gainsboro;
    position: sticky;
}

.users-table td {
    font-size: 17px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

.users-table tbody td {
    padding: 20px;
}

.users-table tbody tr:hover {
    background: rgb(221, 220, 220);
}

.edit-btn,
.delete-btn {
    border: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
}

.edit-btn {
    color: rgb(2, 103, 2);
}

.delete-btn {
    color: rgb(148, 9, 9);
}

.edit-btn:hover,
.delete-btn:hover {
    transform: scale(1.2);
}

.admin-header-container-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: auto; */
    padding: 10px;
    margin-top: 60px;
}

.admin-header-user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.upload-button1,
.upload-button2 {
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button1 {
    background-color: #128e46;
}

.upload-button2 {
    background-color: #e67e22;
}

.upload-button1:hover {
    background-color: #27ae60;
    transform: scale(1.05);
}

.upload-button2:hover {
    background-color: #d35400;
    transform: scale(1.05);
}

.upload-button1 svg,
.upload-button2 svg {
    font-size: 22px;
}

.admin-header-user .file-input {
    display: none;
}

.file-label {
    background-color: #0056b3;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.file-label:hover {
    background-color: #0056b3;
}

.userslabel-name {
    display: block;
}

.admin-header-container-user .user-addicon{
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.edit-btn .useredit-icon{
    font-size: 25px;
    color: green;
    cursor: pointer;
}

.edit-btn .userdelete-icon{
    font-size: 25px;
    color: darkred;
    cursor: pointer;
}

.table-container{
    height: 70vh;
    overflow-y: auto;
}

::-webkit-scrollbar{
    display: none;
}

@media only screen and (min-width:319px) and (max-width:500px) {
    .admin-header-user{
        flex-wrap: wrap;
        display: flex;
        flex-direction: row; 
        gap: 5px;      
    }

    .admin-slidebar{
        display: none;
    }

    .admin-header-container-user {
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 10px;
        margin: auto;
        width: 100% !important;
        margin-top: 15px;
    }

    .upload-button1,
    .upload-button2 {
    color: white;
    border: none;
    padding: 2px 6px;
    border-radius: 5px;
    cursor: pointer;
    }

    .upload-button1 svg,
    .upload-button2 svg {
        font-size: 20px;
    }

    .userslabel-name{
        font-size: 12px;
    }

    .file-label {
        background-color: #0056b3;
        padding: 2px 6px;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
    }

    .tablerow-user{
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 17px;
        font-weight: bold;
    }

    .users-table{
        /* border: 1px solid black; */
        border-collapse:collapse;
        margin: auto;
        width: 100%;
        cursor: pointer;
        box-shadow: 1px 7px 15px gainsboro;
    }

    .userdata-container {
        margin-left: 0% !important;
        height: 100vh;
    }  

    .admin-header-container-user .createbutton{
        font-size: 12px;
        color: white;
        cursor: pointer;
    }
    .admin-header-container-user .user-addicon{
        font-size: 12px;
        color: white;
        cursor: pointer;
    }

    .users-table thead th{
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .users-table td {
        font-size: 14px;
        font-weight: 200;
        font-family: "Poppins", sans-serif;
    }
    
    .users-table tbody td {
        padding: 5px;
        border-bottom: 1px solid black;
    }
    
    .users-table th{
        padding: 8px;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: #023265;
        color: white;
        border-bottom: 1px solid gainsboro;
    }

    .users-btn {
        background-color: #023265;
        color: white;
        border-radius: 50px;
        border: none;
        padding: 5px;
    }
    
    .users-table tbody tr:hover{
        background:  rgb(221, 220, 220);
    }
    
    .table-container{
        height: 70vh;
        border: 1px solid black;
        width: 90%;
        margin: auto;
        overflow-y: auto;
    }
    
    .delete-btn .userdelete-icon{
        font-size: 20px;
        color: darkred;
        cursor: pointer;
    }

   .edit-btn .useredit-icon{
        font-size: 20px;
        color: green;
        cursor: pointer;
    }
}

@media only screen and (min-width:501px) and (max-width:768px) {
    .admin-header-user {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
    }
    .admin-slidebar{
        display: none;
    }

    .admin-header-container-user {
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 10px;
        margin: auto;
        width: 100% !important;
        margin-top: 15px;
    }

    .users-table{
        /* border: 1px solid black; */
        border-collapse:collapse;
        margin: auto;
        width: 100%;
        cursor: pointer;
        box-shadow: 1px 7px 15px gainsboro;
    }

    .userdata-container {
        margin-left: 0% !important;
        height: 100vh;
    }  

    .admin-header-container-user .createbutton{
        font-size: 14px;
        color: white;
        cursor: pointer;
    }
    .admin-header-container-user .user-addicon{
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

    .users-table thead th{
        position: sticky;
        top: 0;
        z-index: 1;
    }
    
    .users-table td{
        font-size: 14px;
        font-weight: 200;
        font-family: "Poppins",sans-serif;
    }
    
    .users-table th{
        padding: 8px;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: #023265;
        color: white;
        border-bottom: 1px solid gainsboro;
    }
    
    .users-table tbody td{
        padding: 5px;
        border-bottom: 1px solid black;
    }
    
    .users-table tbody tr:hover{
        background:  rgb(221, 220, 220);
    }
    
    .tablerow-user{
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 17px;
        font-weight: bold;
    }
    
    .table-container{
        height: 70vh;
        border: 1px solid black;
        width: 90%;
        margin: auto;
        overflow-y: auto;
    }
    
    .delete-btn .userdelete-icon{
        font-size: 20px;
        color: darkred;
        cursor: pointer;
    }

    .edit-btn .useredit-icon{
        font-size: 20px;
        color: green;
        cursor: pointer;
    }
    
}

@media only screen and (max-width:768px) {
    .admin-slidebar{
       display: none;
   }
}

@media only screen and (min-width:500.11px) and (max-width:768px) {
    .admin-header-container-user{
        margin-top: 20px;
    }

}