.users-container{
    margin-top: 100px;
}

.users-btn {
    background-color: #023265;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 15px;
}

.users-btn:hover {
    background: rgb(1, 1, 99);
}

.tablerow-user{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

.users-table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    box-shadow: 1px 7px 15px gainsboro;
}

.users-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.users-table th {
    padding: 12px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #023265;
    color: white;
    border-bottom: 1px solid gainsboro;
    position: sticky;
}

.users-table td {
    font-size: 17px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

.users-table tbody td {
    padding: 20px;
}

.users-table tbody tr:hover {
    background: rgb(221, 220, 220);
}

.edit-btn,
.delete-btn {
    border: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
}

.edit-btn {
    color: rgb(2, 103, 2);
}

.delete-btn {
    color: rgb(148, 9, 9);
}

.edit-btn:hover,
.delete-btn:hover {
    transform: scale(1.2);
}

.admin-header-container-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: auto; */
    padding: 10px;
    margin-top: 60px;
}

.admin-header-user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.upload-button1,
.upload-button2 {
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button1 {
    background-color: #128e46;
}

.upload-button2 {
    background-color: #e67e22;
}

.upload-button1:hover {
    background-color: #27ae60;
    transform: scale(1.05);
}

.upload-button2:hover {
    background-color: #d35400;
    transform: scale(1.05);
}

.upload-button1 svg,
.upload-button2 svg {
    font-size: 22px;
}

.admin-header-user .file-input {
    display: none;
}

.file-label {
    background-color: #0056b3;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.file-label:hover {
    background-color: #0056b3;
}

.label-name {
    display: block;
}

.admin-header-container-user .user-addicon{
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.edit-btn .useredit-icon{
    font-size: 25px;
    color: green;
    cursor: pointer;
}

.edit-btn .userdelete-icon{
    font-size: 25px;
    color: darkred;
    cursor: pointer;
}

.table-container{
    height: 70vh;
    overflow-y: auto;
}

::-webkit-scrollbar{
    display: none;
}


@media screen and (max-width: 768px){
    .users-btn {
        background-color: #023265;
        color: white;
        width: 25%;
        border-radius: 50px;
        position: relative;
        right: 20%;
        padding: 6px 10px;
    }
    
    .users-btn:hover {
        background: rgb(1, 1, 99);
    }
    
    .admin-header-container-user .createbutton{
        font-size: 13px;
        color: white;
        cursor: pointer;
    }

    .admin-header-container-user .user-addicon{
        font-size: 18px;
        color: white;
        cursor: pointer;
    }

    .users-table {
        position: relative;
        border-collapse: collapse;
        margin: auto;
        width: 80%;
        top: 15%;
        box-shadow: 1px 7px 15px gainsboro;
    }
    
    .users-table th {
        padding:5px  10px;
        font-size: 12px;
        text-transform: uppercase;
        background-color: #023265;
        color: white;
        border-bottom: 1px solid gainsboro;
    }
    
    .users-table td {
        font-size: 14px;
        font-weight: 200;
        font-family: "Poppins",sans-serif;
    }
    
    .users-table tbody td {
        padding: 5px 7px;
    }
    
    .users-table tbody tr:hover {
        background: rgb(221, 220, 220);
    }
    
    .delete-btn .userdelete-icon {
        border: none;
        background: none;
        font-size: 20px;
        cursor: pointer;
    }

    .edit-btn .useredit-icon{
        border: none;
        background: none;
        font-size: 15px;
        cursor: pointer;
    }
    
    .edit-btn {
        color: rgb(2, 103, 2);
    }
    
    .delete-btn {
        color: rgb(148, 9, 9);
    }
    
    .edit-btn:hover,
    .delete-btn:hover {
        transform: scale(1.2);
    }
    
    .admin-header-container-user {
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 10px;
        margin: auto;
        width: 80%;
        border-radius: 5px;
    }
    
    .admin-header-container-user .admin-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 5px;
        padding-top: 20px;
    }
    
    .admin-header .upload-button3{
        background-color: green;
        color: white;
        border: none;
        padding: 6px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .admin-header .upload-button4 {
        background-color: rgb(222, 148, 9);
        color: white;
        border: none;
        padding: 6px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .upload-button3:hover {
        background-color: #27ae60;
        transform: scale(1.05);
    }
    
    .upload-button4:hover {
        background-color: #d35400;
        transform: scale(1.05);
    }
    
    .upload-button3 svg,
    .upload-button4 svg {
        font-size: 22px;
    }
    
    .file-input {
        display: none;
    }
    
    .file-label {
        background-color: #007bff;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
    }
    
    .file-label:hover {
        background-color: #0056b3;
    }
    
    .label-name {
        display: block;
    }
    
    .edit-btn .useredit-icon{
        font-size: 20px;
        color: green;
        cursor: pointer;
    }
    
    .edit-btn .userdelete-icon{
        font-size: 20px;
        color: darkred;
        cursor: pointer;
    }
}

/* .ajay{
    position: sticky;
    top: 100px !important ;

} */
