.users-container {
    margin-top: 50px;
}

.header-container-users {
    padding: 20px;
}

.users-btn {
    background-color: #023265;
    color: white;
    border-radius: 15px;
    padding: 7px 20px 7px 20px;
    border: none;
    display: flex;
    gap: 5px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.users-btn:hover {
    transform: scale(1.05);
}

.tablerow-user {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 2%;
    top: 25%;
    font-family: "Poppins", sans-serif;
}

.table-container {
    height: 57vh;
    width: 80vw;
    overflow-y: auto;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 1px 6px #d1d1d1;
}

.users-table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    width: 100%;
    cursor: pointer;
}

.users-table th {
    padding: 10px;
    font-weight: 600;
    background-color: #023265;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    white-space: nowrap;
}

.users-table td {
    padding: 15px;
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
}

.users-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.users-table tbody tr:hover {
    background-color: #f1f1f1;
}

.edit-btn,
.delete-btn {
    border: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
}

.edit-btn {
    color: rgb(2, 103, 2);
}

.delete-btn {
    color: rgb(148, 9, 9);
}

.edit-btn:hover,
.delete-btn:hover {
    transform: scale(1.2);
}

.admin-header-container-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-end;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 6px #d1d1d1;
}

.admin-header-user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.admin-header-user .upload-button1,
.admin-header-user .upload-button2 {
    color: #828181;
    padding: 3px 7px;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button1 {
    border: 1px solid #27ae60;
    transition: transform 0.5s ease, color 0.5s ease;
    background-color: white;
}

.upload-button2 {
    border: 1px solid #e67e22;
    transition: transform 0.5s ease, color 0.5s ease;
    background-color: white;
}

.upload-button1:hover {
    transform: scale(1.05);
    background-color: rgba(0, 128, 0, 0.8);
}

.upload-button2:hover {
    transform: scale(1.05);
    background-color: rgba(225, 165, 0, 0.9);
}

.upload-button2:hover .upload-icon-user {
    color: whitesmoke;
}

.upload-button1:hover .excel-icon-user {
    color: whitesmoke;
}

.upload-button1 .excel-icon-user {
    color: #27ae60;
    font-size: 25px;
}

.upload-button2 .upload-icon-user {
    color: #e67e22;
    font-size: 25px;
}

.admin-header-user .file-input {
    display: none;
}

.file-label-user {
    border: 1px solid rgb(122, 122, 122);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s linear;
    color: #5b5b5b
}

.file-label-user:hover,
.file-label-user:hover .label-name-user {
    background-color: rgba(0, 0, 128, 0.8);
    color: whitesmoke;
    border-color: navy;
}

.file-label-user:hover {
    transform: scale(1.05);
}

.admin-header-container-user .user-addicon {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.edit-btn .useredit-icon {
    font-size: 25px;
    color: green;
    cursor: pointer;
}

.edit-btn .userdelete-icon {
    font-size: 25px;
    color: darkred;
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.users-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #065c96;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.user-head-search {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    position: relative;
}

.user-search-icon {
    font-size: 20px;
    cursor: pointer;
}

.user-searchbar {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}

.user-search-input {
    width: 300px;
    padding: 6px 0 6px 10px;
    border: 1px solid #b1b1b1;
    border-radius: 15px;
    transition: width 0.4s ease, opacity 0.4s ease;
}

.user-search-input-res {
    padding: 5px 0 5px 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

.user-search-input::placeholder {
    color: #828181;
    font-size: bold;
    position: absolute;
    left: 15px;
}

.user-search-input:focus {
    border-color: #828181;
    outline: none;
}

.user-searchbar-res {
    display: none;
}

.users-msg {
    text-align: center;
    padding: 20px;
}

.users-total {
    position: absolute;
    left: 2%;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
}

.bulk-delete-btn {
    color: darkred;
    padding: 7px 15px;
    background-color: white;
    border: 1px solid darkred;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.5s ease;
    position: relative;
    right: 10px;
    background-color: rgb(120, 1, 1);
    color: #fff;
}

.bulk-delete-btn:hover {
    transform: scale(1.05);
}

.trash {
    font-size: 25px;
    display: flex;
    align-items: center;

}

.delete-text {
    display: flex;
    align-items: center;
}

.checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #023d7b;
    transition: transform 0.2s ease;
    margin: 0 auto;
    display: block;
}

.checkbox:hover {
    transform: scale(1.1);
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.pagination button {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s, border-color 0.3s;
}

.pagination button:hover {
    background-color: #ddd;
}

.pagination button:disabled {
    cursor: not-allowed;
    background-color: #e0e0e0;
    border-color: #ccc;
}

.pagination button.active {
    background-color: #033b78;
    color: white;
    border-color: #033b78;
}

.pagination button:focus {
    outline: none;
}



@media only screen and (min-width:319px) and (max-width:500px) {
    .admin-header-user {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .admin-slidebar {
        display: none;
    }

    .admin-header-container-user {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px;
        margin: auto;
        width: 100% !important;
    }

    .header-container-users {
        padding: 10px;
    }

    .admin-header-user .upload-button1,
    .admin-header-user .upload-button2 {
        padding: 0px 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .upload-button1 .excel-icon-user {
        color: #27ae60;
        font-size: 14px;
    }

    .upload-button2 .upload-icon-user {
        color: #e67e22;
        font-size: 14px;
    }

    .userslabel-name {
        font-size: 12px;
    }

    .file-label-user {
        padding: 3px 7px;
        font-size: 12px;
    }

    .tablerow-user {
        font-size: 16px;
        font-weight: bold;
    }

    .user-head-search {
        padding: 15px;
        gap: 10px;
    }

    .userdata-container {
        margin-left: 0% !important;
        height: 100vh;
    }

    .users-total {
        font-size: 15px;
        position: absolute;
        top: 23px;
        left: 10px;
    }

    .users-btn .createbutton {
        font-size: 12px;
    }

    .users-btn .user-addicon {
        font-size: 20px;
        display: flex;
        align-items: center;
    }

    .table-container {
        width: 90vw;
        height: 55vh;
    }

    .users-table-container {
        position: relative;
        top: 15px;
        padding: 5px;
    }

    .users-btn {
        border-radius: 12px;
        /* padding: 5px 15px 9px 15px; */
        padding: 5px 10px;
        border: 1px solid #023265;
    }

    .delete-btn .userdelete-icon {
        font-size: 20px;
        color: darkred;
        cursor: pointer;
    }

    .edit-btn .useredit-icon {
        font-size: 20px;
        color: green;
        cursor: pointer;
    }

    .users-spinner {
        margin: auto;
    }

    .user-searchbar-res {
        display: block;
        text-align: center;
    }

    .user-searchbar {
        display: none;
    }

    .user-search-input-res {
        width: 300px;
        padding: 6px 0 6px 10px;
        border: 1px solid #b1b1b1;
        border-radius: 15px;
        transition: width 0.4s ease, opacity 0.4s ease;
    }

    .user-search-input::placeholder {
        color: #828181;
        font-size: bold;
        position: absolute;
        left: 15px;
    }

    .user-search-input:focus {
        border-color: #828181;
        outline: none;
    }

    .delete-text {
        display: none;
    }

    .bulk-delete-btn {
        padding: 5px 10px;
        right: 0;
    }

    .trash {
        font-size: 20px;
    }

    .createbutton {
        display: none;
    }
}

@media only screen and (min-width:501px) and (max-width:768px) {
    .admin-header-user {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
    }

    .admin-slidebar {
        display: none;
    }

    .admin-header-container-user {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 15px;
        margin: auto;
        width: 100% !important;
    }

    .table-container {
        width: 90vw;
        height: 50vh;
    }

    .users-table-container {
        position: relative;
        top: 15px;
        padding: 5px;
    }

    .userdata-container {
        margin-left: 0% !important;
        height: 100vh;
    }

    .users-btn .createbutton {
        font-size: 14px;
        color: white;
        cursor: pointer;
    }

    .users-btn .user-addicon {
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

    .tablerow-user {
        font-size: 19px;
        font-weight: bold;
    }

    .delete-btn .userdelete-icon {
        font-size: 20px;
        color: darkred;
        cursor: pointer;
    }

    .edit-btn .useredit-icon {
        font-size: 20px;
        color: green;
        cursor: pointer;
    }

    .users-spinner {
        margin: auto;
    }

    .user-searchbar-res {
        display: block;
        text-align: center;
    }

    .user-searchbar {
        display: none;
    }

    .users-total {
        font-size: 17px;
        position: absolute;
        top: 25px;
        left: 20px;
    }

    .user-search-input-res {
        width: 300px;
        padding: 6px 0 6px 10px;
        border: 1px solid #b1b1b1;
        border-radius: 15px;
        transition: width 0.4s ease, opacity 0.4s ease;
    }

    .user-search-input::placeholder {
        color: #828181;
        font-size: bold;
        position: absolute;
        left: 15px;
    }

    .user-search-input:focus {
        border-color: #828181;
        outline: none;
    }

    .user-head-search {
        padding: 15px;
    }

    .admin-header-user .upload-button1,
    .admin-header-user .upload-button2 {
        padding: 2px 9px;
        border-radius: 5px;
        cursor: pointer;
    }

    .upload-button1 .excel-icon-user {
        color: #27ae60;
        font-size: 18px;
    }

    .upload-button2 .upload-icon-user {
        color: #e67e22;
        font-size: 18px;
    }

    .file-label-user {
        padding: 3px 7px;
        font-size: 15px;
    }

    .delete-text {
        display: none;
    }

}

@media only screen and (max-width:768px) {
    .admin-slidebar {
        display: none;
    }

    .toggle-slidebar {
        display: none;
    }
}

@media only screen and (min-width:500.11px) and (max-width:768px) {
    .admin-header-container-user {
        margin-top: 10px;
    }

}

@media only screen and (min-width:769px) and (max-width:1024px) {

    .user-searchbar-res {
        display: none;
    }

    .user-head-search {
        padding: 15px;
        gap: 10px;
    }

    .users-btn {
        border-radius: 12px;
        /* padding: 5px 13px 5px 13px; */
        padding: 5px 10px;
    }

    .users-total {
        font-size: 15px;
        position: absolute;
        top: 23px;
        left: 20px;
    }

    .user-search-input {
        width: 250px;
        padding: 4px 0 4px 8px;
        border: 1px solid #b1b1b1;
        border-radius: 15px;
        transition: width 0.4s ease, opacity 0.4s ease;
    }

    .table-container {
        width: 80vw;
    }

    .users-table-container {
        position: relative;
        top: 15px;
        padding: 5px;
    }

    .bulk-delete-btn {
        padding: 5px 10px;
        right: 5px;
    }

}

@media only screen and (min-width:769px) and (max-width:1009px) {

    .tablerow-user {
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 17px;
        font-weight: bold;
    }

    .edit-btn .useredit-icon {
        font-size: 19px;
        color: green;
        cursor: pointer;
    }

    .delete-btn .userdelete-icon {
        font-size: 19px;
        color: darkred;
        cursor: pointer;
    }

    .table-container {
        width: 85vw;
    }

    .users-table-container {
        position: relative;
        top: 15px;
        padding: 5px;
    }

}

@media only screen and (max-width: 768px) {
    .pagination button {
        font-size: 12px;
        padding: 6px 12px;
    }

    .pagination button:not(:first-child):not(:last-child),
    .pagination span {
        display: none;
    }

    .pagination {
        flex-direction: row;
    }

    .pagination button.active {
        background-color: #0056b3;
    }
}