.register-container{
    background-image: url("C:\Users\NASTAF_6\my-app\react-app\public\register.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.register-form{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}