.register-container{
 position: relative;
    height: 100vh;
     width: 100vw;
     overflow: hidden;
     z-index:1
}
.register-container::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../../public/login2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.register-form{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  

}

.form-control-register .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: rgba(255, 255, 255, 0.5) !important;  
}

.form-control-register .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: rgba(255, 255, 255, 0.5) !important; 
    outline: none ;  
    background-color: transparent ; 
}

.form-control-register .MuiFormLabel-root {
    color: #fff;
}

.form-control-register .MuiInputLabel-root.Mui-focused {
    color:#fff; 
}

.form-control-register .MuiInputBase-input{
    color: #fff;
}

/* .form-control-register{
    width: 100%;
    padding: 10px 5px;
    font-size: 16px;
    border: none;
    border-bottom: 1.5px solid #ccc;
    background-color: transparent;
    color: #fff; 
    outline: none;
    transition: border-color 0.3s ease;
} */

/* .form-control-register::placeholder {
    color: #ccc; 
}

.form-control-register:focus {
    border-bottom: 1.5px solid navy; 
} */
.register-btn{
    margin: auto;
    display: block;
    padding: 10px;
    width:70% ;
    background-color:navy;
    color: white;
}

@media screen and (max-width: 1440px) {
    .register-btn {
        width: 35%;
    }

    .button-container .button-group {
        width: 180px;
    }
}




@media screen and (max-width: 768px){
.register-btn {
    width: 40%;
}

.form-data {
    padding: 25px;
}

.button-container .button-group {
    width: 160px;
}
}




@media screen and (max-width: 425px) {
    .register-btn {
        width: 80%;
        padding: 8px;
    }

    .form-data {
        padding: 15px;
    }

    .button-container .button-group {
        font-size: 14px;
    }
}


@media screen and (max-width: 375px) {
    .register-btn {
        width: 95%;
    }

    .form-data {
        padding: 10px;
    }

    .button-container .button-group {
        font-size: 13px;
        padding: 8px 16px;
    }
}
@media screen and (max-width: 320px) {
    .register-btn {
        width: 70%;
    }

    .form-data {
        padding: 15px;
    }

    .button-container .button-group {
        font-size: 12px;
        width: 100%;
    }
}

