.admin-slidebar {
  padding: 10px;
  height: 100vh;
  width: 17%;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid #aaaaaa;
  transition: width 0.5s ease, padding 0.5s ease;
}

.toggle-slidebar{
  padding: 0 0 20px 0;
  height: 100vh;
  width: 5%;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.5s ease, padding 0.5s ease;
  border-right: 1px solid #aaaaaa;
  overflow: hidden;
}

.userdata-container {
  margin-left: 17%;
  height: 100vh;
  transition: margin-left 0.5s ease;
}

.toggle-container {
  margin-left: 5%;
  height: 100vh;
  transition: margin-left 0.5s ease;
}

.user-list {
  list-style: none;
  padding: 4px 3px 15px 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #aaaaaa;
}

.user-list-down{
  list-style: none;
  padding: 4px 3px 15px 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-style{
  list-style: none;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.active .dashboardicons,
.active .dashboard-icon{
  /* color: purple; */
  color: navy;
}

.active{
  background-color: rgba(0,0,128,0.1);
  border: 1px solid navy;
}

.userdata-btn{
  display: flex;
  align-items: center;
  gap: 15px;
}

.dashboardicons {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.741);
  cursor: pointer;
  color: #605f5f;
}

.dashboard-icon{
  font-family: "Poppins", sans-serif;
  color: #605f5f;
}

.toggledashboard-icons {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.741);
  cursor: pointer;
  position: relative;
  left: 25%;
}

.userdata-head{
  padding: 15px;
  color: #707070;
  font-size: small;
}

.user-profile {
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 83%;
  padding: 10px;
  gap: 10px;
  position: fixed;
  border-bottom: 1px solid #aaaaaa;
  transition: width 0.5s ease;
}

.toggle-profile {
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 95%;
  padding: 10px;
  gap: 10px;
  position: fixed;
  border-bottom: 1px solid #aaaaaa;
  transition: width 0.5s ease;
}

.userlogout-btn {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
}

.userlogout-btn .logo {
  font-size: 20px;
  color:#605f5f;
  cursor: pointer;
  
}

.userlogout-btn .logoutbutton {
  font-size: 30px;
  color: darkred;
  cursor: pointer;
}

.menu-btn{
  font-size: 30px;
  cursor: pointer;
}

.username-admin {
  font-family: "Poppins", sans-serif;
  color: #605f5f;
  font-size: 20px;
}

.username-toggle {
  font-family: "Poppins", sans-serif;
  color: #605f5f;
  font-size: 20px;
}

.sidebarmenu-btn{
  border: none;
  display: none;
}

.dashboard-menu{
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.toggledashboard-menu{
  background: none;
  border: none;
  transition: transform 0.5s ease-in-out;
  position: relative;
  left: 20%;
}

.company-logo-head{
  position: absolute;
  left: 10px;
  top: 15px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: none;
}

.company-logo-header{
  position: absolute;
  left: 10px;
  top: 8px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.userheader {
  color: #2c3e50;
  font-size: 1.5rem;
  position: absolute;
  left: 60px;
  top: 15px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  display: none;
}

.userheader-toggle{
  letter-spacing: 1px;
  color: #2c3e50;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.5rem;
  position: absolute;
  left: 60px;
  top: 15px;
}

.user-heading{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 11px;
  border-bottom: 1px solid #aaaaaa;
  position: relative;
}

.sidebar-companyname{
  position: absolute;
  left: 25%;
  font-family: "Poppins",sans-serif;
  font-weight: bold;
}

.dashboard-menu-btn{
  font-size: 20px;
  color:#908f8f;
}

.company-logo{
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.userheader-res{
  display: none;
}

.sidebar-companyname-toggle{
  display: none;
}

.settings-icon{
  position: relative;
  left: 90%;
}

.attendance-icon{
  position: relative;
  left: 50%;
}

.list-style-users{
  position: relative;
  right: 20px;
  padding: 12px 10px 12px 10px;
}

.user-list-toggle{
  padding: 4px 3px 15px 3px;
  position: relative;
  left: 18px;
}


@media only screen and (min-width:320px) and (max-width:768px) {
  .sidebarmenu-btn{
    display: block;
    background: none;
    transition: width 0.5s ease, padding 0.5s ease;
  }

  .menu-btn{
    color: #707070;
  }

  .user-profile .userlogout-btn{
    display: none;
  }

  .company-logo-head{
    display: block;
  }
  
  .userheader {
    display: none;
  }

  .userheader-res{
    position: absolute;
    left: 60px;
    top: 15px;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1px;
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
  }

  .dashboard-menu{
    display: none;
  }
  .user-profile {
    width: 100%;
  }
  .toggle-profile {
    width: 100%;
  }
  .toggle-profile .userlogout-btn{
    display: none;
  }

  .userheader-toggle{
    display: none;
  }

  .toggle-container{
    margin-left: 0;
  }
}

@media only screen and (min-width:501px) and (max-width:768px){

  .toggle-profile .userlogout-btn{
    display: block;
  }

  .user-profile .userlogout-btn{
    display: block;
  }

  .userlogout-btn .logo {
    font-size: 20px;
    color: gray;
    cursor: pointer;
  }
  
  .userlogout-btn .logoutbutton {
    font-size: 22px;
    color: darkred;
    cursor: pointer;
  }

  .user-profile .username {
    font-size: 20px;
  }
  .user-profile .userheader{
    position: absolute;
    left: 1%;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width:769px) and (max-width:1008px){

  .admin-slidebar {
    height: 100vh;
    width: 8%;
    position: fixed;
    left: 0;
    top: 0;
  }

  .toggle-slidebar{
    width: 8%;
  }

  .userdata-head{
    display: none;
  }

  .dashboard-icon{
    display: none;
  }

  .user-heading{
    display: none;
  }

  .user-profile {
    width: 92%;
  }

  .toggle-profile {
    width: 92%;
  }

  .user-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    right: 30px;
  }

  .userdata-container {
    margin-left: 8%;
    height: 100vh;
  }

  .toggle-container {
    margin-left: 8%;
    height: 100vh;
  }

  .company-logo-head{
    display: block;
  }

  /* .userheader-res{
    display: block;
    position: absolute;
    left: 60px;
    top: 15px;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1px;
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
  } */

  .user-profile .userheader{
      display: block;
  }

  .dashboard-menu{
    display: none;
  }

  .user-list {
    position: absolute;
    top: 10%;
    left: 10%;
  }

  .list-style-users{
    position: relative;
    right: 30px;
  }

  .user-list{
    border-bottom: none;
  }

  .sidebar-companyname-toggle{
    display: none;
  }

  .sidebar-companyname{
    display: none;
  }

  .user-list-toggle{
    padding: 4px 3px 15px 3px;
    position: relative;
    left: 27px;
  }

}

@media only screen and (min-width:1009px) and (max-width:1024px) {
  .sidebarmenu-btn{
    display: none;
  }

  .toggle-slidebar{
    width: 7%;
  }

  .toggle-profile {
    width: 93%;
  }

  .admin-slidebar {
    padding: 5px;
    height: 100vh;
    width: 17%;
    position: fixed;
    left: 0;
    top: 0;
    transition: width 0.5s ease, padding 0.5s ease;
  }

  .user-profile .userheader {
    position: absolute;
    left: 5px;
    letter-spacing: 2px;
    color: goldenrod;
    font-variant: small-caps;
    font-size: 1.5rem;
  }

  .toggle-container {
    margin-left: 7%;
    height: 100vh;
  }

  .sidebar-companyname{
    font-size: 20px;
  }

  .company-logo{
    width: 35px;
    height: 35px;
  }

  .settings-icon{
    position: absolute;
    left: 65%;
  }

  .attendance-icon{
    position: absolute;
    left: 78%;
  }

  .user-list-toggle{
    padding: 4px 3px 15px 3px;
    position: relative;
    left: 27px;
  }

  .list-style-users{
    position: relative;
    right: 30px;
  }

  .user-list {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
}

@media only screen and (min-width:1024px) and (max-width:1440px) {
  .userdata-head{
    padding: 5px;
  }

  .toggle-slidebar{
    width: 7%;
  }

  .toggle-profile {
    width: 93%;
  }

  .toggle-container {
    margin-left: 7%;
    height: 100vh;
  }

  .settings-icon{
    position: absolute;
    left: 64%;
  }

  .attendance-icon{
    position: absolute;
    left: 79%;
  }

  .list-style-users{
    position: relative;
    right: 30px;
  }

  .user-list {
    /* position: absolute;
    top: 10%;
    left: 10%; */
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    /* right: 30px; */
  }
}

