.admin-slidebar {
  background: rgb(239, 238, 238);
  height: 100vh;
  width: 15%;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 1px 5px 10px  rgba(0, 0, 0, 0.5);
}

.toggle-slidebar{
  background: rgb(239, 238, 238);
  height: 100vh;
  width: 5%;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 1px 3px 10px  rgba(0, 0, 0, 0.5);
  transition: width 0.3s ease;
  overflow: hidden;
}

.userdata-container {
  margin-left: 15%;
  height: 100vh;
}

.toggle-container {
  margin-left: 5%;
  height: 100vh;
}

.user-list {
  list-style: none;
  padding: 4px 3px 4px 3px;
}

.list-style{
  list-style: none;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
}

.list-style:hover{
  background-color: rgba(0, 0, 0, 0.19);
}

.dashboardicons {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.741);
  cursor: pointer;
}

.userdata-head{
  padding: 15px;
}

.user-profile {
  background-color: rgb(239, 238, 238);
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 85%;
  padding: 20px;
  gap: 10px;
  position: fixed;
}

.toggle-profile {
  background-color: rgb(239, 238, 238);
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 95%;
  padding: 20px;
  gap: 10px;
  position: fixed;
}

.userlogout-btn {
  position: relative;
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  color: black;
}

.userlogout-btn .logo {
  font-size: 30px;
  color: #023265;
  cursor: pointer;
}

.userlogout-btn .logoutbutton {
  font-size: 30px;
  color: darkred;
  cursor: pointer;
}

.menu-btn{
  font-size: 30px;
  cursor: pointer;
}

.user-profile .username {
  font-size: 23px;
}

.sidebarmenu-btn{
  border: none;
  display: none;
}

.dashboard-menu{
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.dashboard-menu:hover{
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.toggledashboard-menu{
  background: none;
  border: none;
  transition: transform 0.5s ease-in-out;
  transform: rotate(180deg);
}

.toggledashboard-menu:hover{
  transform: rotate(180deg) scale(1.2);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.19);
}

.userheader {
  letter-spacing: 1px;
  color: goldenrod;
  font-variant: small-caps;
  font-size: 1.5rem;
  position: absolute;
  left: 10px;
  top: 15px;
}

.userheader .caps {
  font-weight: bold;
  color: rgb(2, 2, 73);
  font-size: 2rem;
}

.user-heading{
  display: flex;
  justify-content:space-between;
  padding: 15px;
  border-radius: 10px;
}

.dashboard-menu-btn{
  font-size: 35px;
}

.company-logo{
  height: 45px;
  width: 45px;
  cursor: pointer;
 
}

@media only screen and (min-width:320px) and (max-width:768px) {
  .sidebarmenu-btn{
    display: block;
  }

  .user-profile .userlogout-btn{
    display: none;
  }

  .user-profile .userheader{
    position: absolute;
    left: 1%;
    font-size: 1rem;
  }
  .dashboard-menu{
    display: none;
  }
  .user-profile {
    width: 100%;
  }
  .toggle-profile {
    width: 100%;
  }
  .toggle-profile .userlogout-btn{
    display: none;
  }
}

@media only screen and (min-width:501px) and (max-width:768px){
  .user-profile .userlogout-btn{
    display: block;
  }
  .userlogout-btn .logo {
    font-size: 22px;
    color: #023265;
    cursor: pointer;
  }
  
  .userlogout-btn .logoutbutton {
    font-size: 22px;
    color: darkred;
    cursor: pointer;
  }
  .user-profile .username {
    font-size: 20px;
  }
  .user-profile .userheader{
    position: absolute;
    left: 1%;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width:769px) and (max-width:1008px){
  .admin-slidebar {
    background: rgb(239, 238, 238);
    height: 100vh;
    width: 10%;
    position: fixed;
    left: 0;
    top: 0;
  }

  .toggle-slidebar{
    width: 10%;
  }

  .userdata-head{
    display: none;
  }

  .dashboard-icon{
    display: none;
  }

  .user-heading{
    display: none;
  }

  .user-profile {
    width: 90%;
  }

  .toggle-profile {
    width: 90%;
  }

  .user-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    right: 30px;
  }

  .userdata-container {
    margin-left: 10%;
    height: 100vh;
  }

  .toggle-container {
    margin-left: 10%;
    height: 100vh;
  }

  .user-profile .userheader {
    position: absolute;
    left: 0;
    letter-spacing: 2px;
    color: goldenrod;
    font-variant: small-caps;
    font-size: 1.5rem;
  }
  .dashboard-menu{
    display: none;
  }

  .user-list {
    position: absolute;
    top: 10%;
    left: 10%;
  }

}

@media only screen and (min-width:1009px) and (max-width:1024px) {
  .sidebarmenu-btn{
    display: none;
  }

  .admin-slidebar {
    background: rgb(239, 238, 238);
    height: 100vh;
    width: 15%;
    position: fixed;
    left: 0;
    top: 0;
  }
  .user-profile .userheader {
    position: absolute;
    left: 5px;
    letter-spacing: 2px;
    color: goldenrod;
    font-variant: small-caps;
    font-size: 1.5rem;
  }

  .userdata-head{
    font-size: 20px;
  }
}

@media only screen and (min-width:1024px) {
  .userdata-head{
    padding: 5px;
  }
}

