.login-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
    border: none;
}
.login-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../../public/insurance2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}


.login-btn{
    margin: auto;
    display: block;
    padding: 10px;
    width: 30%;
    background-color: teal;
    color: white;
}

.login-btn:hover{
    background-color:#2caaa9;
    color: white;
}

.login-form{
    display: flex;
    align-items: center;
    justify-content: center;
   height: 100% !important;
}

.form-data{
  
    border-radius: 20px;
    padding: 30px;
    background-color:rgba(255, 255, 255, 0.3);
}

.button-container{
    display: flex;
    gap: 15px;
}

.button-container .button-group{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    width: 200px;
}

.button-container .button-group.active{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, teal 35%, rgb(132, 197, 197) 100%);
    color: white;
}
.form-control-login {
    all: unset;
    width: 100%;
    padding: 10px 5px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 1.5px solid white;
    outline: none;
}

.form-control-login::placeholder {
    color: #ccc;
}

.form-control-login:focus {
    border-bottom: 1.5px solid teal;

}


.form-control-login:not(:placeholder-shown) {
    border-bottom: none;
}



@media screen and (max-width: 1440px) {
    .login-btn {
        width: 35%;
    }

    .button-container .button-group {
        width: 180px;
    }
   
   
}




@media screen and (max-width: 768px){
.login-btn {
    width: 40%;
}

.form-data {
    padding: 25px;
}

.button-container .button-group {
    width: 160px;
}
}




@media screen and (max-width: 425px) {
    .login-btn {
        width: 80%;
        padding: 8px;
    }

    .form-data {
        padding: 15px;
    }

    .button-container .button-group {
        font-size: 14px;
    }
}


@media screen and (max-width: 375px) {
    .login-btn {
        width: 95%;
    }

    .form-data {
        padding: 10px;
    }

    .button-container .button-group {
        font-size: 13px;
        padding: 8px 16px;
    }
}
@media screen and (max-width: 320px) {
    .login-btn {
        width: 95%;
    }

    .form-data {
        padding: 8px;
    }

    .button-container .button-group {
        font-size: 12px;
        width: 100%;
    }
}

