.password-input .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: rgba(255, 255, 255, 0.5) !important;  
}

.password-input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: rgba(255, 255, 255, 0.5) !important; 
    outline: none ;  
    background-color: transparent ; 
}

.password-input .MuiFormLabel-root {
    color: #fff;
}

.password-input .MuiInputLabel-root.Mui-focused {
    color:#fff;    
}

.password-input input[type="password"]::-ms-reveal, 
.password-input input[type="password"]::-webkit-contacts-auto-fill-button {
    display: none !important;
}
