.admin-container {
    margin-top: 70px;
}

.admin-btn {
    background-color: #023265;
    color: white;
    border-radius: 50px;
    padding: 15px;
    border: none;
}

.tablerow-admin {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

.admin-table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.admin-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.admin-table td {
    font-size: 17px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

.admin-table th {
    padding: 12px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #023265;
    color: white;
    border-bottom: 1px solid gainsboro;
}

.admin-table tbody td {
    padding: 20px;
}

.admin-table tbody tr:hover {
    background: rgb(221, 220, 220);
}

.admin-btn:hover {
    background: rgb(1, 1, 99);
}

.admin-header-container {
    display: flex;
    /* align-items: center !important; */
    /* justify-content: space-between; */
    /* padding: 50px; */
    justify-content:flex-end ;
    margin: auto;
    padding: 20px;
    /* margin-top: 60px; */
    /* border-top: 1px solid #aaaaaa; */
    border-bottom: 1px solid #aaaaaa;
    background-color: rgba(128,128,128,0.1);
}

.admin-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.adminbutton {
    width: 100%;
    background: none;
    border: none;
}

.adminbutton:hover {
    transform: scale(1.2)
}

.delete-button {
    background: none;
    border: none;
}

.delete-button:hover {
    transform: scale(1.2)
}

.admin-header .upload-button3,
.admin-header .upload-button4 {
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button3 {
    background-color: #128e46;
}

.upload-button4 {
    background-color: #e67e22;
}

.upload-button3:hover {
    background-color: #27ae60;
    transform: scale(1.05);
}

.upload-button4:hover {
    background-color: #d35400;
    transform: scale(1.05);
}

.upload-button3 svg,
.upload-button4 svg {
    font-size: 22px;
}

.file-label {
    background-color: #0056b3;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.label-name {
    display: block;
}

.admin-header .file-input {
    display: none;
}

.file-name {
    margin-left: 10px;
    font-size: 14px;
}

.admin-header-container .addicon {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.admin-header-container .addbutton {
    font-size: 17px;
    color: white;
    cursor: pointer;
}

.adminbutton .editicon {
    font-size: 25px;
    color: green;
    cursor: pointer;
}

.delete-button .deleteicon {
    font-size: 30px;
    color: darkred;
    cursor: pointer;
}

.admintable-container {
    height: 70vh;
    overflow-y: auto;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #065c96;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.admin-head-search {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.search-icon{
    font-size: 20px;
    cursor: pointer;
}

.searchbar-container {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
}

.search-input::placeholder {
    color: black;
    font-size: bold;
    position: absolute;
    left: 15px;
}

.search-input {
    width: 0;
    opacity: 0;
    padding: 5px 0 5px 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    transition: width 0.4s ease, opacity 0.4s ease;
}

.search-input.expanded {
    width: 300px;
    opacity: 1;
}

.search-input-res{
    width: 250px;
    padding: 5px 0 5px 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

.searchbar-res {
    display: none;
}

.user-msg {
    margin: 20px auto;
}

@media only screen and (min-width:319px) and (max-width:500px) {
    .admin-header {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        gap: 2px;
    }

    .admin-slidebar {
        display: none;
    }

    .admin-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin: auto;
        width: 100% !important;
        margin-top: 15px;
    }

    .admin-header .upload-button3,
    .admin-header .upload-button4 {
        color: white;
        border: none;
        padding: 2px 6px;
        border-radius: 5px;
        cursor: pointer;
    }

    .upload-button3 svg,
    .upload-button4 svg {
        font-size: 20px;
    }

    .file-label {
        background-color: #0056b3;
        padding: 2px 6px;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
    }

    .label-name {
        font-size: 12px;
    }

    .tablerow-admin {
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 17px;
        font-weight: bold;
    }

    .admin-table {
        border-collapse: collapse;
        margin: auto;
        cursor: pointer;
        box-shadow: 1px 7px 15px gainsboro;
    }

    .userdata-container {
        margin-left: 0% !important;
        height: 100vh;
    }

    .admin-header-container .addbutton {
        font-size: 12px;
        color: white;
        cursor: pointer;
    }

    .admin-header-container .addicon {
        font-size: 18px;
        color: white;
        cursor: pointer;
    }

    .admin-table thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .admin-table td {
        font-size: 14px;
        font-weight: 200;
        font-family: "Poppins", sans-serif;
    }

    .admin-table th {
        padding: 8px;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: #023265;
        color: white;
        border-bottom: 1px solid gainsboro;
    }

    .admin-table tbody td {
        padding: 5px 0 5px 0;
        border-bottom: 1px solid black;
    }

    .admin-table tbody tr:hover {
        background: rgb(221, 220, 220);
    }

    .admintable-container {
        max-height: 70vh;
        height: fit-content;
        width: 90%;
        border: 1px solid black;
        margin: auto;
        overflow-y: auto;
    }

    .adminbutton {
        width: 100%;
        background: none;
        border: none;
    }

    .adminbutton .editicon {
        font-size: 20px;
        color: green;
        cursor: pointer;
    }

    .admin-btn {
        background-color: #023265;
        color: white;
        border-radius: 50px;
        padding: 10px;
        border: none;
    }

    .delete-button .deleteicon {
        font-size: 20px;
        color: darkred;
        cursor: pointer;
    }

    .admin-table tbody .edit-btn .edit-icon {
        font-size: 20px;
        color: green;
        cursor: pointer;
    }

    .spinner {
        margin: auto;
    }

    .searchbar-container {
        display: none;
    }

    .searchbar-res {
        display: block;
        text-align: center;
    }
}

@media only screen and (min-width:501px) and (max-width:768px) {
    .admin-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
    }

    .admin-slidebar {
        display: none;
    }

    .admin-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin: auto;
        width: 100% !important;
        margin-top: 15px;
    }

    .admin-table {
        border-collapse: collapse;
        margin: auto;
        width: 100%;
        cursor: pointer;
        box-shadow: 1px 7px 15px gainsboro;
    }

    .userdata-container {
        margin-left: 0% !important;
        height: 100vh;
    }

    .admin-header-container .addbutton {
        font-size: 14px;
        color: white;
        cursor: pointer;
    }

    .admin-header-container .addicon {
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

    .admin-table thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .admin-table td {
        font-size: 14px;
        font-weight: 200;
        font-family: "Poppins", sans-serif;
    }

    .admin-table th {
        padding: 8px;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: #023265;
        color: white;
        border-bottom: 1px solid gainsboro;
    }

    .admin-table tbody td {
        padding: 5px 0 5px 0;
        border-bottom: 1px solid black;
    }

    .admin-table tbody tr:hover {
        background: rgb(221, 220, 220);
    }

    .tablerow-admin {
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 17px;
        font-weight: bold;
    }

    .admintable-container {
        height: fit-content;
        max-height: 70vh;
        border: 1px solid black;
        width: 90%;
        margin: auto;
        overflow-y: auto;
    }

    .adminbutton {
        width: 100%;
        background: none;
        border: none;
    }

    .adminbutton .editicon {
        font-size: 20px;
        color: green;
        cursor: pointer;
    }

    .delete-button .deleteicon {
        font-size: 20px;
        color: darkred;
        cursor: pointer;
    }

    .admin-table tbody .edit-btn .edit-icon {
        font-size: 20px;
        color: green;
        cursor: pointer;
    }

    .spinner {
        margin: auto;
    }

    .searchbar {
        display: none;
    }

    .searchbar-res {
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width:768px) {
    .admin-slidebar {
        display: none;
    }

    .toggle-slidebar {
        display: none;
    }
}

@media only screen and (min-width:500.11px) and (max-width:768px) {
    .admin-header-container {
        margin-top: 20px;
    }

}

@media only screen and (min-width:769px) and (max-width:1024px) {
    .admin-table tbody td {
        padding: 10px;
    }

    .searchbar {
        display: none;
    }

    .searchbar-res {
        display: block;
        text-align: center;
    }
}

@media only screen and (min-width:769px) and (max-width:1009px) {
    .tablerow-admin {
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 17px;
        font-weight: bold;
    }

    .admin-table th {
        padding: 8px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: #023265;
        color: white;
        border-bottom: 1px solid gainsboro;
    }

    .admin-table tbody td {
        padding: 4px;
    }

    .adminbutton .editicon {
        font-size: 20px;
        color: green;
        cursor: pointer;
    }

    .delete-button .deleteicon {
        font-size: 19px;
        color: darkred;
        cursor: pointer;
    }

    .admin-table tbody .edit-btn .edit-icon {
        font-size: 19px;
        color: green;
        cursor: pointer;
    }

}

@media only screen and (min-width:1025px) and (max-width:1113px) {
    .admin-table td {
        font-size: 14px;
        font-weight: 200;
        font-family: "Poppins", sans-serif;
    }

    .admin-table tbody td {
        padding: 3px;
    }
}